.portal
{width:100%;
background-color:pink;
height:60px;
}
.header{
	width:100%;
	height:120px;
	
}
.header1{
	width:20%;
	height:70%;
	float:left;
	
	
}
.header2{
	width:80%;
	height:75px;
	float:left;
	background-color:grey;
}
.footer{
	height:80px;
	background-color:white;
}
.mq{
	color:cyan;
	background-color:black;
	font-size:16px;
}
.menu{
	float:left;
	height:50px;
	width:750px;
	
}
li a{
	 display:block;
	 color:white;
	 text-align:center;
	 padding:10px;
	 font-size:20px;
	 text-decoration:none;
}
li{
	list-style:none;
	float:left;
	padding:10px;
	font-size:20px;
}
ul{
	overflow:hidden;
	background-color:black;
}
li a:hover{
	color:blue;
	background:white;
}


.navcontent{  float:left; height:500px; width:100%;  margin-top:-30px; margin-top:30px;}
.nav { float:left; height:500px; width:20%;  background-color:purple; color:white;}
.content { float:left; height:500px; width:80%;  background-color:blue; color:white; text-align:center;}



.menu {  float:left; width: 96%;  height: 60px; background-color: orange;  color:white;font-size:30px ;margin-top:0px; }
.menu ul { overflow: hidden; z-index: 1000; position: absolute; }
.menu li a { display: block;color:white;text-align: center;font-size:22px; font-weight:bold;text-decoration: none;  padding: 10px; }
.menu li  { float: left;list-style: none;width: 90px;  color:white;text-align:center;font-size:22px; font-weight:bold; padding: 10px; }



.menu li a:hover  { background-color:pink; }
